
html {
  height: 100%;

}

html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh !important;
min-height:100vh;
background-color: "#edf0f3" !important
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

